body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input:focus {
  border: 0px;
}

.centerText {
  align-content: center;
  text-align: center;
}

.hide {
  display: none;
}

.switch_page {
  /* background-color: #f1f1f1; */
  color: black;
  text-decoration: none;
  display: inline-block;
  /* padding: 8px 16px; */
  padding: 0px 16px;
  /* align-content: center */
}

.switch_page:hover {
  cursor: pointer;
}

.round {
  border-radius: 50%;
}

.right {
  border-right: 1px black solid;
}

.left {
  border-left: 1px black solid;
}

.top {
  border-top: 1px black solid;
}

.bottom {
  border-bottom: 1px black solid;
}